* {
	margin: 0;
	padding: 0;
}

.container {
	height: 100vh;
	background: -webkit-linear-gradient(to right, #11998e, #38ef7d); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #11998e, #38ef7d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	font-family: Roboto, sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
}

*::selection {
	color: white;
	background: #11998e;
}

.todo-block {
	width: 100%;
}

.todo {
	width: 450px;
	height: 600px;
	background: #fff;
	box-sizing: border-box;
	border-radius: 15px;
	padding: 20px 0;
	position: relative;
}

.todo__top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 15px 0 20px;
}

.todo__title {
	font-size: 28px;
	font-weight: 300;
}

.todo__devider {
	background: #000;
	width: 100%;
	height: 3px;
	margin: 20px 0 0;
	display: block;
	border: none;
}

.add-todo {
	border-radius: 50%;
	width: 30px;
	height: 30px;
	cursor: pointer;
	background: url(img/add.svg) no-repeat, #11998e;
	background-position: center;
	-webkit-background-size: 50%;
	background-size: 50%;
}

.todo__element {
	width: 100%;
	box-sizing: border-box;
	padding: 20px;
	position: relative;
	transition-duration: 350ms;
	transition-property: background-color;
	user-select: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.todo__check {
	width: 0;
	height: 20px;
	outline: none;
	margin-right: 65px;
}

.todo__check::after {
	content: '';
	display: block;
	width: 20px;
	height: 20px;
	border: 1.5px solid #38ef7d;
	border-radius: 50%;
	cursor: pointer;
}

.todo__right {
	display: flex;
	align-items: center;
}

.active-check::after {
	background: #38ef7d;
}

.todo__element:nth-child(even) {
	background: #fafafa;
}

.todo__element:hover {
	background: #D8D8D8 !important;
}
.close {
	width: 20px;
	height: 20px;
	background: url(img/close.svg) no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	/*position: absolute;
	right: 20px;
	top: 50%;
	transform: translateY(-50%);*/
	cursor: pointer;
}

.active-h3 {
	color: #11998e;
	text-decoration: line-through;
}